*{
    margin-inline-start: 0;
    margin-inline-end: 0;
}


body {
    background-image: linear-gradient(to right, rgb(12, 53, 6),  rgb(64, 167, 95), rgb(12, 53, 6));
    background-attachment: fixed;
}

h1 {
    margin-inline-start: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white; 
}

.solida {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: blue;
    text-align: center;
}

.transparente {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: blue;
    text-align: center;
    opacity: 0.6;
}

.gradiente {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-image: linear-gradient(to right, #1619c2, #B4C6D9, rgb(17, 226, 111) );
    text-align: center;
}

.image-u {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-image: url("Alpha.jpg");
    text-align: center;
    background-repeat: no-repeat;
}

.image-r {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-image: url("Alpha.jpg");
    text-align: center;
    background-repeat: repeat-x;
}

.turing {
    width: 60px;
    height: 60px;
    padding-top: 20px;
    margin-left: 30px;
}

nav {
  
    color: beige;
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    gap: 13px;
   
}

.cabeçalho {
    height: 50px;
    width: 100vw;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
}
